<?xml version="1.0" encoding="utf-8"?>
<Content Key="ff6e665f-43dc-48cd-98b1-6500727c9cd4" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-11-14T16:05:39</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0b89c282-f92d-4ea9-a431-0efe9b54ccfd">HomePage</Template>
  </Info>
  <Properties>
    <demo>
      <Value><![CDATA[]]></Value>
    </demo>
    <imageMedia>
      <Value><![CDATA[[
  {
    "key": "ce5e717e-c9bf-4c7e-9187-15211d873781",
    "mediaKey": "55931d83-5287-41cf-b30d-db6f7c56e82e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imageMedia>
    <title>
      <Value><![CDATA[Home page]]></Value>
    </title>
  </Properties>
</Content>